<section class="aboutproposal">
  <div class="container py-10 py-lg-20 mt-10 mt-lg-15">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="d-flex flex-column flex-lg-row align-items-center mb-6 mb-lg-10">
          <div>
            <img src="/assets/images/icon/account_circle_24dp_FFFFFF_FILL1_wght0_GRAD0_opsz48.png" style="width: 300px" alt="account" />
          </div>
          <div class="d-flex flex-column justify-content-between">
            <div>
              <h2>春日影像製作Spring Film</h2>
              <p class="fs-6 d-flex align-items-center"><span class="material-symbols-outlined text-danger fs-4 me-2">groups</span>張先生</p>
            </div>
            <div>
              <h3 class="fs-5">聯絡我們</h3>
              <div class="d-flex justify-content-between">
                <ul class="list-unstyled">
                  <li>聯絡電話:01-23456789</li>
                  <li>聯絡信箱:example@gmail.com</li>
                  <li>服務時間:09:00~17:00</li>
                </ul>
                <ul class="list-unstyled d-flex align-self-end">
                  <li><a href="#"></a><i class="ph ph-facebook-logo fs-3"></i></li>
                  <li class="mx-2"><a href="#"></a><i class="ph ph-instagram-logo fs-3"></i></li>
                  <li><a href="#"></a><img src="/assets/images/icon/round-grey.png" class="object-fit-contain img-fluid" style="width: 36px; height: 36px" alt="" /></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3 bg-primary-8 border border-3 border-white">
          <h3 class="fs-7 mb-2">導演/攝影 周禹丞</h3>
          <p class="mb-0">
            畢業於世新大學廣播電視電影學系電影組,現就讀國立臺北藝術大學電影創作學系研究所導演組。<br>
            善於觀察溫柔情感和人際關係的鏡頭捕捉,近年來從紀錄片創作中找到極大樂趣。希望能藉由更多的影像創作中找到真實且精彩的人生。攝影作品數部橫跨MV、廣告、形象、紀錄/劇情短片各類商業及藝術領域。<br>
            最新創作紀錄短片《遠端對話》(2022)在三級警戒疫情下的臺北,一位香港職業演員被困在永和的隔離生活,紀錄了三個月中他與唯一在遠方的親人,靠著視訊互相依偎的溫馨感人故事。此片榮獲2022年南方影展「疫情一天單元」首獎、中華電信MOD金片子競賽——蹲點台灣紀錄片佳作、第四屆福爾摩沙國際電影節榮獲「最佳療癒疫情短片」以及韓國阿波里亞國際電影節紀錄短片類入圍。過去劇情片導演作品《晃遊》(2020)也曾入圍新北市學生影像新星獎、洛杉磯Ourfest酷兒影展、韓國、香港多國同志電影節。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-3 bg-primary-8">
  <div class="container">
    <ul class="list-unstyled mb-0 d-flex gap-8 justify-content-around align-items-center">
      <li>
        <a class="nav-link py-3 fs-7 fs-lg-3 <%= page === 'aboutProposal-now' ? 'border-white ' : '' %>" href="aboutProposal-now.html">進行中</a>
      </li>
      <li>
        <a class="nav-link py-3 fs-7 fs-lg-3 <%= page === 'aboutProposal-fin' ? 'border-white ' : '' %>" href="aboutProposal-fin.html">已結案</a>
      </li>
      <li>
        <a class="nav-link py-3 fs-7 fs-lg-3 <%= page === 'aboutProposal-other' ? 'border-white ' : '' %>" href="aboutProposal-other.html">其他作品集</a>
      </li>
    </ul>
  </div>
</section>
