<small>
    <ol class="list-unstyled text-warning">
      <li>1. 選擇超商付款需於期限內完成付款，超過時限則會取消交易。</li>
      <li>2. 超商付款需增加 30 元手續費，在金額超過 20,000 元時無法選擇此付款方式。</li>
    </ol>
</small>
<p>確認付款送出後，您將取得超商繳費代碼。您也可以至全台 7-11、全家、OK、萊爾富超商的多媒體機台（即 ibon、FamiPort、OK-go、Life-ET）列印繳費單，並於期限內至櫃檯繳費。</p>
<form>
  <div class="d-flex flex-wrap align-items-center gap-2 mb-4">
    <label for="marketSupporterEmail" class="form-label mb-0 required">付款人電子信箱</label>
    <input type="email" id="marketSupporterEmail" class="form-control d-inline-block fit-content" required>
  </div>
  <div class="d-flex align-items-start gap-1">
    <input type="checkbox" id="marketPaymentNotation1" style="height: 24px;" required>
    <label for="marketPaymentNotation1">我已再次確認「訂單資訊」及「付款資訊」，付款完成後藍新金流將發送通知信至付款人電子信箱</label>
  </div>
  <div class="d-flex align-items-start gap-1">
    <input type="checkbox" id="marketPaymentNotation2" style="height: 24px;" required>
    <label for="marketPaymentNotation2" >我已同意藍新金流付款方使用條款及隱私權保護政策</label>
  </div>
</form>