<li style="border-bottom: 1px solid #FFFFFF33;">
  <a href="project-explore.html" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/全部專案.png" style="width: 20px;" class="me-2" alt="全部專案">全部專案
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/喜劇.png" style="width: 20px;" class="me-2" alt="喜劇">喜劇
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/愛情.png" style="width: 20px;" class="me-2" alt="愛情">愛情
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/恐怖.png" style="width: 20px;" class="me-2" alt="恐怖">恐怖
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/懸疑.png" style="width: 20px;" class="me-2" alt="懸疑">懸疑
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/科幻.png" style="width: 20px;" class="me-2" alt="科幻">科幻
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/紀錄片.png" style="width: 20px;" class="me-2" alt="紀錄片">紀錄片
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/動畫.png" style="width: 20px;" class="me-2" alt="動畫">動畫
  </a>
</li>

<li>
  <a href="#" class="container px-5 d-flex align-items-center" style="padding-top: 14px;padding-bottom: 14px;">
    <img src="/assets/images/icon/實驗電影.png" style="width: 20px;" class="me-2" alt="實驗電影">實驗電影
  </a>
</li>