<div class="swiper feedbackChoiceSwiper">
    <div class="swiper-wrapper">
      <!-- 卡片一 -->
      <div class="swiper-slide h-auto">
        <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column position-relative" style="border-color: #606060;">
          <img class="object-fit-cover rounded-top-2" src="../assets/images/image59.png" alt="電影海報組">
          <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
            <div class="feedbackChoice-card-title fw-bolder">
              <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">電影海報組</h2>
              <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 500</h3>
              <hr/>
            </div>
            <div class="feedbackChoice-card-content d-flex flex-column h-100">
              <p class="mb-lg-2 mb-1">本方案包含：</p>
              <ol class="list-unstyled mb-g-6 mb-3">
                <li>1. 獨家簽名海報乙張</li>
                <li>2. 獨家酷卡乙組</li>
                <li>3. 首輪交換券乙張</li>
                <li>4. 片尾感謝名單</li>
                <li>5. Vber Eat 100元折價券</li>
              </ol>
              <a href="feedback-confirmation.html" class="btn btn-primary stretched-link w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</a>
            </div>
          </div>
        </section>
      </div>
        <!-- 卡片二 -->
      <div class="swiper-slide h-auto">
        <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column position-relative" style="border-color: #606060;">
          <img class="object-fit-cover rounded-top-2" src="../assets/images/image61.png" alt="劇照訪談組">
          <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
            <div class="feedbackChoice-card-title fw-bolder">
              <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">劇照訪談組</h2>
              <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 800</h3>
              <hr/>
            </div>
            <div class="feedbackChoice-card-content d-flex flex-column h-100">
              <p class="mb-lg-2 mb-1">本方案包含：</p>
              <ol class="list-unstyled mb-g-6 mb-3">
                <li>1. 獨家簽名劇照訪談集乙本</li>
                <li>2. 獨家酷卡乙組</li>
                <li>3. 首輪交換券乙張</li>
                <li>4. 片尾感謝名單</li>
                <li>5. Vber Eat 100元折價券</li>
              </ol>
              <a href="feedback-confirmation.html" class="btn btn-primary stretched-link w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</a>
            </div>
          </div>
        </section>
      </div>
      <!-- 卡片三 -->
      <div class="swiper-slide h-auto">
        <section class="feedbackChoice-card bg-primary-9 rounded-2 border d-flex flex-column h-100 position-relative" style="border-color: #606060;">
          <img class="object-fit-cover rounded-top-2" src="../assets/images/image60.png" alt="手機支架組">
          <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
            <div class="feedbackChoice-card-title fw-bolder">
              <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">手機支架組</h2>
              <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 1,200</h3>
              <hr/>
            </div>
            <div class="feedbackChoice-card-content d-flex flex-column h-100">
                <p class="mb-lg-2 mb-1">本方案包含：</p>
                <ol class="list-unstyled mb-g-6 mb-3">
                  <li>1. 特色手機支架乙支</li>
                  <li>2. 獨家酷卡乙組</li>
                  <li>3. 首輪交換券乙張</li>
                  <li>4. 片尾感謝名單</li>
                  <li>5. Vber Eat 100元折價券</li>
                </ol>
                <a href="feedback-confirmation.html" class="btn btn-primary stretched-link w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</a>
              </div>
          </div>
        </section>
      </div>
      <!-- 卡片四 -->
      <div class="swiper-slide h-auto">
       <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column position-relative" style="border-color: #606060;">
         <img class="object-fit-cover rounded-top-2" src="../assets/images/image62.png" alt="我全都要組">
         <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
           <div class="feedbackChoice-card-title fw-bolder">
             <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">我全都要組</h2>
             <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 2000</h3>
             <hr/>
            </div>
             <div class="feedbackChoice-card-content d-flex flex-column h-100">
               <p class="mb-lg-2 mb-1">本方案包含：</p>
               <ol class="list-unstyled mb-g-6 mb-3">
                 <li>1. 獨家簽名海報乙張</li>
                 <li>2. 獨家簽名劇照訪談集乙本</li>
                 <li>3. 特色手機支架乙支</li>
                 <li>4. 獨家酷卡乙組</li>
                 <li>5. 首輪交換券乙張</li>
                 <li>6. 片尾感謝名單</li>
                 <li>7. Vber Eat 100元折價券</li>
               </ol>
               <a href="feedback-confirmation.html" class="btn btn-primary stretched-link w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</a>
             </div>
         </div>
       </section>
    </div>
    <!-- 把分頁器弄出來的卡片 -->
    <div class="swiper-slide h-auto">
      <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column position-relative" style="border-color: #606060;">
        <img class="object-fit-cover rounded-top-2" src="../assets/images/image59.png" alt="電影海報組">
        <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
          <div class="feedbackChoice-card-title fw-bolder">
            <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">電影海報組</h2>
            <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 500</h3>
          <hr/>
        </div>
        <div class="feedbackChoice-card-content d-flex flex-column h-100">
          <p class="mb-lg-2 mb-1">本方案包含：</p>
          <ol class="list-unstyled mb-g-6 mb-3">
            <li>1. 獨家簽名海報乙張</li>
            <li>2. 獨家酷卡乙組</li>
            <li>3. 首輪交換券乙張</li>
            <li>4. 片尾感謝名單</li>
            <li>5. Vber Eat 100元折價券</li>
          </ol>
          <a href="feedback-confirmation.html" class="btn btn-primary stretched-link w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</a>
          </div>
        </div>
      </section>
    </div>
  </div>   
</div>
  <!-- 分頁器 -->
<div class="d-none d-md-flex align-items-center justify-content-center mt-7">
  <div>
    <div class="swiper-button-prev feedbackChoiceSwiper-button-prev"></div>
  </div>
  <div class="swiper-pagination feedbackChoiceSwiper-pagination w-auto"></div>
  <div>
    <div class="swiper-button-next feedbackChoiceSwiper-button-next"></div>
  </div>
</div>