<footer class="footer-bg py-8 pt-md-20 pb-md-10">
  <div class="container">
    <ul class="list-unstyled d-md-flex">
      <li class="w-md-50 mb-10 mb-md-0">
        <ul class="list-unstyled d-flex flex-md-column justify-content-between h-100">
          <li>
            <a href="index.html">
              <picture>
                <source srcset="../assets/images/logo-lg.png" media="(min-width:992px)">
                <img src="../assets/images/logo.png" alt="filmnest logo" class="footer-logo">
              </picture>
            </a>
          </li>
          <li class="d-flex me-4" style="gap: 12px;">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter-x"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
            <i class="bi bi-line"></i>
          </li>
        </ul>
      </li>
      <li class="w-md-50">
        <ul class="list-unstyled d-flex justify-content-between">
          <li class="d-flex flex-column gap-3">
            <a href="#">精選專案</a>
            <a href="#">專案瀏覽</a>
          </li>
          <li class="d-flex flex-column gap-3">
            <a href="#">我想贊助</a>
            <a href="#">我要提案</a>
            <a href="#">會員中心</a>
          </li>
          <li class="d-flex flex-column gap-3">
            <a href="#">線上影院</a>
          </li>
          <li class="d-flex flex-column gap-3">
            <a href="#">關於影巢</a>
            <a href="#">常見問題</a>
            <a href="#">服務條款</a>
            <a href="#" class="me-4">隱私權政策</a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="text-end mt-10 mt-md-20 mb-0 fs-copyright">Copyright ©2024 by 影巢影視募資平台小組 僅供作品集使用</p>
  </div>
</footer>