<nav class="navbar navbar-expand-md navbar-dark py-3 py-lg-5">
  <div class="container">
    <button type="button" class="navbar-toggler border-0 me-3" data-bs-toggle="modal" data-bs-target="#mobile-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="p-0 me-12" href="index.html"><img src="../assets/images/logo.png" alt="filmnest logo"></a>
    <div class="collapse navbar-collapse text-white">
      <ul class="navbar-nav mb-2 mb-md-0">
        <li class="nav-item dropdown me-10">
          <a class="nav-link Dropdown fw-bolder d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            探索
            <span class="DropdownDeco ms-2"></span>
          </a>
          <ul class="dropdown-menu bg-primary-8" aria-labelledby="navbarDropdown">
            <%- include('./layout/dropdown-item'); -%>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder d-flex align-items-center" href="#">搜尋<span class="material-symbols-outlined ms-2 lh-1">search</span></a>
        </li>
      </ul>
      <div class="ms-auto">
        <a href="login.html" class="btn btn-outline-light fw-bolder p-0 border-0 me-4">登入 / 註冊</a>
        <a href="aboutProposal.html" class="btn btn-outline-light fw-bolder py-3 px-5 position-relative nav-btn-deco ms-8" type="button">我要提案</a>
      </div>
    </div>
  </div>
</nav>

<!-- 滾動監視 - 變換navbar底色 -->
<script>
  const nav = document.querySelector('.navbar')
  window.addEventListener('scroll', fixNav)

  function fixNav() {
      if(window.scrollY > 0) {
          nav.classList.add('active')
      } else {
          nav.classList.remove('active')
      }
  }
</script>
<!-- 參考文章：https://ithelp.ithome.com.tw/articles/10268713 -->

<!-- mobile-nav Modal -->
<div class="modal fade" tabindex="-1" id="mobile-nav" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header container border-0 py-3">
        <div class="d-flex align-items-center w-100">
          <button type="button" class="btn p-0 lh-1 me-3" data-bs-dismiss="modal" aria-label="Close">
            <span class="material-symbols-outlined fs-7">close</span>
          </button>
          <h5 class="modal-title lh-1 d-flex align-items-center" id="exampleModalLabel"><img src="../assets/images/logo.png" alt="filmnest logo"></h5>
          <button type="button" class="btn p-0 border-0 fw-bolder d-flex align-items-center ms-auto" data-bs-toggle="modal" data-bs-target="#mobile-nav-search">搜尋<span class="material-symbols-outlined ms-2 lh-1">search</span></button>
        </div>
      </div>
      <div class="modal-body p-0 bg-primary-9">
        <a href="login.html" class="btn rounded-0 bg-primary-8 w-100" style="padding-top: 14px;padding-bottom: 14px;border-bottom: 1px solid #FFFFFF33;">登入/註冊</a>
        <ul class="list-unstyled mb-0">
          <%- include('./layout/dropdown-item'); -%>
        </ul>
        <a href="aboutProposal.html" class="btn border-0 rounded-0 btn-primary w-100" style="padding-top: 14px;padding-bottom: 14px;">我要提案</a>
      </div>
    </div>
  </div>
</div>

<!-- mobile-nav-search Modal -->
<div class="modal fade" tabindex="-1" id="mobile-nav-search" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header container border-0 py-3">
        搜尋
      </div>
      <div class="modal-body p-0">
        搜尋
      </div>
    </div>
  </div>
</div>