<nav class="navbar navbar-expand-lg navbar-dark bg-transparent py-3 py-lg-5 fixed-top">
  <div class="container">
    <button class="navbar-toggler border-0 p-0 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="p-0 me-12" href="index.html"><img src="../assets/images/logo.png" alt="filmnest logo"></a>
    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown me-10">
          <a class="nav-link exploreDropdown fw-bolder d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            探索
            <span class="exploreDropdownDeco ms-2"></span>
          </a>
          <ul class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-black" href="project-explore.html">專案總覽</a></li>
            <li><a class="dropdown-item text-black" href="#">Action</a></li>
            <li><a class="dropdown-item text-black" href="#">Action</a></li>
            <li><a class="dropdown-item text-black" href="#">Another action</a></li>
            <li><hr class="dropdown-divider text-black"></li>
            <li><a class="dropdown-item text-black" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bolder d-flex align-items-center" href="#">搜尋<span class="material-symbols-outlined ms-2 lh-1">search</span></a>
        </li>
      </ul>
      <div class="ms-auto">
        <a href="login.html" class="btn btn-outline-light fw-bolder p-0 border-0 me-4">登入 / 註冊</a>
        <a href="aboutProposal.html" class="btn btn-outline-light fw-bolder py-3 px-5 position-relative nav-btn-deco ms-8" type="button">我要提案</a>
      </div>
    </div>
  </div>
</nav>
