<section class="pt-0 pt-md-6 pb-8 pb-mb-10" style="margin-top: 89px">
  <div class="container">
    <div class="row d-flex flex-column flex-md-row gap-8 gap-xxl-9">
      <section class="mx-auto px-xxl-0" style="max-width: 660px">
        <!-- 上方大圖的 Swiper -->
        <div class="swiper projectIntroSwiper2 rounded overflow-hidden mb-0 mb-xxl-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者2.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者5.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者7.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者1.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者3.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者4.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者6.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者8.png" alt="熊貓外送員"/>
            </div>
          </div>
          <div class="swiper-button-prev projectIntroSwiper-button-prev d-flex d-md-none"></div>
          <div class="swiper-button-next projectIntroSwiper-button-next d-flex d-md-none"></div>
        </div>
        <!-- 下方圖片的 Swiper -->
        <div thumbsSlider="myswiper" class="swiper projectIntroSwiper d-none d-md-block">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者2.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者5.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者7.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者1.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者3.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者4.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者6.png" alt="熊貓外送員"/>
            </div>
            <div class="swiper-slide">
              <img class="rounded" src="/assets/images/追風者劇照/追風者8.png" alt="熊貓外送員"/>
            </div>
          </div>
        </div>
      </section>
      <section class="mx-auto px-xxl-0 mt-xxl-1" style="max-width: 576px">
        <div class="mb-3">
          <span class="py-1 px-2 bg-primary-8 rounded me-2">紀錄片</span>
          <span class="py-1 px-2 bg-primary-6 rounded">進行中</span>
        </div>
        <h2 class="fs-6 fs-md-3 fw-bolder mb-1 mb-md-3">
          《 追風者 》紀錄片募資計畫
        </h2>
        <p class="fs-md-7 text-primary-2">外送人員不為人知的辛勞</p>
        <div class="my-8 my-md-10">
          <!-- 募資金額 -->
          <section class="d-flex justify-content-between align-items-center mb-3 mb-md-4">
            <p class="fs-7 fs-md-6 mb-0">
              NT$ 2,700,000<span class="fs-sm fs-md-base text-primary-4 ms-2 ms-md-3">/ NT$ 3,000,000</span>
            </p>
            <p class="mb-0">90%</p>
          </section>
          <!-- 進度條 -->
          <section class="progress bg-primary-8" style="height: 8px">
            <div class="progress-bar bg-white" role="progressbar" style="width: 90%; border-radius: 30px" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </section>
          <!-- 募資人數 & 募資時間 -->
          <section class="d-flex justify-content-between align-items-start mt-3 mt-md-4">
            <div class="d-flex align-items-center gap-1">
              <span class="material-symbols-outlined text-primary-5">person</span><span>100</span>
            </div>
            <div class="text-end">
              <p class="fs-md-7 mb-1 mb-md-2">募資倒數 15 天 3 小時</p>
              <p class="fs-sm fs-md-base text-primary-4 mb-0">
                募資期間 2024/8/3 - 2024/12/31
              </p>
            </div>
          </section>
        </div>
        <!-- 提案人-info -->
        <div class="d-flex p-3 p-md-5 bg-primary-9 rounded-1 rounded-md-2">
          <img class="object-fit-cover rounded rounded-md-1 img-director" src="/assets/images/遠端對話劇照/遠端對話導演照/導演照1.jpg" alt="追風者導演照片"/>
          <div class="ms-3 ms-md-7 d-flex flex-column justify-content-between" style="width: 552px">
            <div>
              <h3 class="fs-base fs-md-7 mb-2">
                <a class="text-white title-hover" href="aboutProposal-now.html">春日影像製作 Spring Film</a>
              </h3>
              <section class="d-flex gap-4">
                <a class="fs-sm fs-md-base icon-text-hover" href="aboutProposal-fin.html">
                  <span class="material-symbols-outlined align-bottom text-primary-5 me-0 me-md-1">star</span>
                  3 個專案
                </a>
                <a class="fs-sm fs-md-base icon-text-hover" href="#">
                  <span class="material-symbols-outlined align-bottom text-primary-5 me-0 me-md-1">person</span>
                  周先生
                </a>
              </section>
            </div>
            <section class="d-flex align-items-center">
              <ul class="list-unstyled mb-0 d-flex gap-3">
                <li>
                  <a href="#"><i class="bi bi-facebook fs-6 social-media-hover"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-instagram fs-6 social-media-hover"></i></a>
                </li>
                <li>
                  <a href="#"><i class="bi bi-line fs-6 social-media-hover"></i></a>
                </li>
              </ul>
              <a class="btn btn-secondary fs-sm ms-auto" href="#">聯絡我們</a>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
