<div class="search-container">
  <input type="text" class="search-input" placeholder="輸入影片名稱" aria-label="搜索">
  <button class="search-icon" type="submit">
    <span class="fw-bolder me-2">搜尋</span>
    <span class="material-symbols-outlined">search</span>
  </button>
  <span class="material-symbols-outlined search-input-search-icon">search</span>
  <span class="material-symbols-outlined search-input-close-icon">close</span>
</div>

<!-- 參考 - AI製作範例：https://codepen.io/zxlee/pen/bGXWgOG?editors=1100 -->