@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "./utils/utilities";
@import "./mixins/buttons";
@import "../../node_modules/bootstrap";

// 字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

// icon
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// base
@import "./base/base";

// components
@import "./components/buttons";
@import "./components/project-card";

//helpers
@import "./mixins/breakpoints";

// vendors
@import "./vendors/swiper";

//layout
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./layout/project-intro-nav";
@import "./layout/project-photograph-proposer";
@import "./layout/checkout-card";

//pages
@import "./pages/index.scss";
@import "./pages/project-intro";
@import "./pages/project-explore";
@import "./pages/feedback-choice";
@import "./pages/feedback-confirmation.scss";
@import "./pages/checkout-info";
@import "./pages/payment-success";
@import "./pages/project-breaking-news";
@import "./pages/project-QA";
@import "./pages/aboutProposal";
@import "./pages/project-comments";
@import "./pages/forgetpassword";
@import "./pages/login";
@import "./pages/createProposal";
