// .btm-primary {
//   --bs-btn-color: #fff;
//   --bs-btn-bg: #0068FF;
//   --bs-btn-border-color: #0068FF;
//   --bs-btn-hover-color: #fff;
//   --bs-btn-hover-bg: #0058d9;
//   --bs-btn-hover-border-color: #0053cc;
//   --bs-btn-focus-shadow-rgb: 38, 127, 255;
//   --bs-btn-active-color: #fff;
//   --bs-btn-active-bg: #0053cc;
//   --bs-btn-active-border-color: #004ebf;
//   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//   --bs-btn-disabled-color: #fff;
//   --bs-btn-disabled-bg: #0068FF;
//   --bs-btn-disabled-border-color: #0068FF;
// }

.btn {
  border-radius: 2px;
}

.btn-primary {
  @include button-variant(
    $background: $white,
    $border: $white,
    $color: $primary-1000,
    $hover-background: $primary-1000,
    $hover-border: $white,
    $hover-color: $white,
    $active-background: $primary-1000,
    $active-border: $white,
    $active-color: $white,
    $disabled-background: $primary-700,
    $disabled-border: $primary-700,
    $disabled-color: $primary-500
  );
}

.btn-secondary {
  @include button-variant(
    $background: $primary-1000,
    $border: $white,
    $color: $white,
    $hover-background: $white,
    $hover-border: $white,
    $hover-color: $primary-1000,
    $active-background: $white,
    $active-border: $white,
    $active-color: $primary-1000,
    $disabled-background: $primary-1000,
    $disabled-border: $primary-600,
    $disabled-color: $primary-600
  );
}
