.aboutProposal-banner-bg {
  background: url(/assets/images/image48.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}

.banner-bg-mask {
  position: relative;
  &::after {
  position: absolute;
  content: "";
  background: linear-gradient(0.18deg, #040404 0.18%, rgba(0, 0, 0, 0) 99.87%);
  top: 406px;
  left: 0;
  width: 100%;
  height: 195px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  @media (min-width:576px) {
      top: 0;
      height: 101%;
    }
  }
}

.aboutProposal-banner-wrap {
  height: 600px;
  margin-bottom: 44px;
  @media (min-width:992px) {
    height: 720px;
    margin-bottom: 131px;
  }
}

.slogn-position {
  padding-top: 394px;
  @media (min-width:768px) {
    padding-top: 315px;
  }
  @media (min-width:992px) {
    padding-top: 378px;
  }
}

.aboutProposal-slogan-card-position {
  position: absolute;
  bottom: 0;
  @media (min-width:992px) {
    bottom: -63px;
  }
}

.banner-deco {
  &::before , &::after {
    position: absolute;
    content: "";
    background-image: url(/assets/images/deco/Line9.png);
    height: 60px;
    width: 2px;
    @media (min-width:992px) {
      background-image: url(/assets/images/deco/Line10.png);
      height: 174px;
      width: 1px;
    }
  }
  &::before {
    top: -72px;
    @media (min-width:992px) {
      top: -196px;
    }
  }
  &::after {
    top: 100%;
    @media (min-width:992px) {
      bottom: 7px;
    }
  }
}

.process-bg {
  &-1 {
    background-image: url(/assets/images/image53.png);
  }
  &-2 {
    background-image: url(/assets/images/image54.png);
  }
  &-3 {
    background-image: url(/assets/images/image55.png);
  }
  &-1 , &-2 , &-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.process-wrap {
  padding-top: 28px;
  @media (min-width:768px) {
    padding-top: 69px;
  }
  background-image: url(/assets/images/image49-2.png);
  background-repeat: no-repeat;
  background-position: center 0;
  @media (min-width: 375px) {
    background-image: url(/assets/images/image49-1.png);
    background-size: cover;
  }
}

.process-card {
  height: 174px;
  @media (min-width:992px) {
    height: 400px;
  }
}

.process-card-mask {
  position: relative;
  &::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.2) ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  }
  &:hover::after {
    background: rgba(0, 0, 0, 0.7) ;
  }
}
