

//付款表單群組
.payment-fieldset{
    border: 1px solid #606060;
    border-radius: 8px;
    padding: 16px;
}
.payment-lengend{
    float: none; //讓 legend 變成酷酷的東西
    width: auto;
    padding: 0 8px;
    font-weight: 500;
}

//延伸 label 選取範圍
//運用 bootstrap 延伸連結概念：https://bootstrap5.hexschool.com/docs/5.1/helpers/stretched-link/
.accordion-button {
    position: relative;
  }

.accordion-button label::before { //將 ::after 改成 ::before，因為前者會跟「必填星號」衝突
    content: '';
    position: absolute;
    inset: 0;
}

.checkout-info-sidebar{
    position: sticky;
    top: 100px;
}

.d-xs1-block {
    display: none;
    @include xs-sm-1 {
        display: block;
    }
}

.btn-close.btn-checkout-close {
    --bs-btn-close-color: #FFFFFF;
    --bs-btn-close-bg: url(/assets/images/icon/close_32dp_000_FILL0_wght0_GRAD0_opsz40.png);
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 0.25em 0.25em;
    color: #FFFFFF;
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 0.25rem;
    opacity: var(--bs-btn-close-opacity);
}

// .btn-close.btn-index-close{
// 	--bs-btn-close-color: #FFFFFF;
// 	--bs-btn-close-bg: url(/assets/images/icon/close_32dp_000_FILL0_wght0_GRAD0_opsz40.png);
// 	--bs-btn-close-opacity: 1;
// 	--bs-btn-close-hover-opacity: 0.75;
// 	--bs-btn-close-focus-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
//   background-size: cover;
// 	box-sizing: content-box;
// 	width: 24px;
// 	height: 24px;
// 	color: #FFFFFF;
// }