.feedbackChoice-bg{
    background-image: linear-gradient(0.18deg, #040404 0.18%, rgba(0, 0, 0, 0) 99.87%), url(/assets/images/追風者劇照/追風者2.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

    @include md{
        height: 720px;
    }
}
.header-wrapper{
    width: 100%;
  
    @include lg{
        width: 748px;
    }
}

