.sticky-top-custom{
    position: sticky;
    top:52px;
	z-index: 1;
}
.sticky-top-custom1{
    position: sticky;
    top:90px;
}
.btn-close.btn-comment-close{
	--bs-btn-close-color: #000;
	--bs-btn-close-bg: url(/assets/images/icon/close_24dp_FFFFFF_FILL0_wght0_GRAD0_opszNaN.svg);
	--bs-btn-close-opacity: 1;
	--bs-btn-close-hover-opacity: 0.75;
	--bs-btn-close-focus-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
	box-sizing: content-box;
	width: 24px;
	height: 24px;
	color: #000;
}

.form-control-custom.form-control::placeholder {
	color: gray;
}