<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <%- include('./layout/aboutProposal-nav', {page: "aboutProposal-other"}); -%>

    <section class="aboutproposal-other">
      <div class="container py-10 py-lg-20">
        <div class="p-3 bg-primary-6 border border-white rounded-2">
          <h3 class="fs-6 py-10 text-center">無</h3>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
