<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>提案介紹</title>
  </head>
  <body class="bg-primary-1000">
    <%- include('./layout/header'); -%>
    <div class="aboutProposal-banner-bg banner-bg-mask">
      <div class="aboutProposal-banner-wrap container position-relative z-3">
        <h1 class="text-center slogn-position mb-0">有好想法，卻沒辦法嗎？</h1>
        <div class="aboutProposal-slogan-card-position container px-md-0">
          <div class="position-relative">
            <ul class="list-unstyled d-flex justify-content-center mb-0 w-100 w-md-75 w-xl-50 mx-auto banner-deco">
              <li class="slogan-card-bg text-center w-50 py-3 py-md-5 me-3 me-md-10">
                <p class="fs-sm fs-md-base mb-2">累積金額</p>
                <h2 class="fs-6 fs-md-1 lh-base mb-0">4,837,261</h2>
              </li>
              <li class="slogan-card-bg text-center w-50 py-3 py-md-5">
                <p class="fs-sm fs-md-base mb-2">贊助人數</p>
                <h2 class="fs-6 fs-md-1 lh-base mb-0">2,947</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="process-wrap pb-18 pb-md-30">
      <div class="process container py-0 py-md-20 text-center">
        <h2 class="mb-8 mb-md-20">募資三部曲</h2>
        <ul class="list-unstyled text-start row row-cols-1 row-cols-lg-3 mb-8 mb-lg-20">
          <li class="col mb-lg-0">
            <div class="process-card-mask process-bg-1 mb-5 border border-white-1">
              <div class="process-card position-relative z-2 p-3 p-lg-10 d-flex flex-column">
                <h3 class="fs-base fs-lg-7 d-flex flex-column">
                  <span class="fs-3 fs-lg-1 lh-base mb-1">01</span>
                  準備與計畫
                </h3>
                <p class="mt-auto mb-0">定義項目目標和預算，選擇募資平台並設計募資策略。</p>
              </div>
            </div>
          </li>
          <li class="col mb-lg-0">
            <div class="process-card-mask process-bg-2 mb-5 border border-white-1">
              <div class="process-card position-relative z-2 p-3 p-lg-10 d-flex flex-column">
                <h3 class="fs-base fs-lg-7 d-flex flex-column">
                  <span class="fs-3 fs-lg-1 lh-base mb-1">02</span>
                  發布與推廣
                </h3>
                <p class="mt-auto mb-0">在平台上發布項目，並進行推廣以吸引支持者。</p>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="process-card-mask process-bg-3 border border-white-1">
              <div class="process-card position-relative z-2 p-3 p-lg-10 d-flex flex-column">
                <h3 class="fs-base fs-lg-7 d-flex flex-column">
                  <span class="fs-3 fs-lg-1 lh-base mb-1">03</span>
                  實施與回報
                </h3>
                <p class="mt-auto mb-0">監控募資進度，執行項目並向支持者提供回報。</p>
              </div>
            </div>
          </li>
        </ul>
        <a href="terms-of-use.html" class="btn btn-white text-primary-1000 fw-bolder py-3 px-5 w-100 w-md-auto">我要提案</a>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>