<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body class="bg-primary-1000">
    <%- include('./layout/header'); -%>
    <div class="aboutProposal-bg bg-mask">
      <div class="aboutProposal-banner container position-relative z-3">
        <h1 class="text-center slogn-position mb-0">有好想法，卻沒辦法嗎？</h1>
        <div class="aboutProposal-slogan-card-position container px-md-0">
          <div class="position-relative">
            <ul class="list-unstyled d-flex justify-content-center mb-0 w-100 w-md-75 w-xl-50 mx-auto banner-deco">
              <li class="slogan-card-bg text-center w-50 py-3 py-md-5 me-3 me-md-10">
                <p class="fs-sm fs-md-base mb-2">累積金額</p>
                <h2 class="fs-6 fs-md-1 lh-base mb-0">4,837,261</h2>
              </li>
              <li class="slogan-card-bg text-center w-50 py-3 py-md-5">
                <p class="fs-sm fs-md-base mb-2">贊助人數</p>
                <h2 class="fs-6 fs-md-1 lh-base mb-0">2,947</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    
    <h1>我是about</h1>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
