<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> <%-
    include('./layout/aboutProposal-nav', {page: "aboutProposal-fin"}); -%>

    <section class="aboutproposal">
      <div class="container py-10 py-lg-20">
        <div class="row">
          <div class="col-md-4 mb-6 mb-md-0">
            <div class="card index-card rounded-0 h-100">
              <img
                src="/assets/images/image37.png"
                class="card-img-top rounded-0 mb-3"
                alt="image32"
              />
              <div class="card-body p-3 d-flex flex-column">
                <a href="#" class="link-light stretched-link"
                  ><h3 class="fs-sm fs-lg-base mb-4">
                    南方影展首獎 - 紀錄短片《遠端對話》劇情長片計畫
                  </h3></a
                >
                <div
                  class="d-flex justify-content-between align-items-center mb-4 mt-auto"
                >
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined text-white fs-7"
                      >person</span
                    >
                    <p class="text-white mb-0 fs-sm fs-lg-base">100</p>
                  </div>
                  <p class="fs-sm fs-lg-base text-white mb-0">
                    倒數<span class="fw-bolder">10</span>天
                  </p>
                </div>
                <div
                  class="progress index-progress mb-4"
                  role="progressbar"
                  aria-label="Example 1px high"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="height: 4px"
                >
                  <div
                    class="progress-bar index-progress-bar bg-light"
                    style="width: 90%"
                  ></div>
                </div>
                <h4 class="fs-7 fs-lg-6 text-white mb-0">NT$ 123,456</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card index-card rounded-0 h-100">
              <img
                src="/assets/images/image38.png"
                class="card-img-top rounded-0 mb-3"
                alt="image32"
              />
              <div class="card-body p-3 d-flex flex-column">
                <a href="#" class="link-light stretched-link"
                  ><h3 class="fs-sm fs-lg-base mb-4">
                    金穗獎《孤獨時光》｜長片募資計畫
                  </h3></a
                >
                <div
                  class="d-flex justify-content-between align-items-center mb-4 mt-auto"
                >
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined text-white fs-7"
                      >person</span
                    >
                    <p class="text-white mb-0 fs-sm fs-lg-base">100</p>
                  </div>
                  <p class="fs-sm fs-lg-base text-white mb-0">
                    倒數<span class="fw-bolder">10</span>天
                  </p>
                </div>
                <div
                  class="progress index-progress mb-4"
                  role="progressbar"
                  aria-label="Example 1px high"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="height: 4px"
                >
                  <div
                    class="progress-bar index-progress-bar bg-light"
                    style="width: 90%"
                  ></div>
                </div>
                <h4 class="fs-7 fs-lg-6 text-white mb-0">NT$ 123,456</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
