<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>付款資料</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container  mb-20" style="margin-top: 88px;">
        <div class="row">
            <main class="col-lg-8">
                <h2 class="fs-lg-3 fs-4 text-primary-2 mb-4">付款資料</h2>
                <form>
                    <fieldset class="payment-fieldset mb-4">
                        <legend class="payment-lengend">會員資料</legend>
                        <div class="row mb-3">
                            <div class="col-lg-6 mb-lg-0 mb-3">
                                <label for="memberName" class="form-label required">會員姓名</label>
                                <input type="text" class="form-control" id="memberName" required>
                            </div>
                            <div class="col-lg-6">
                                <label for="memberPhone" class="form-label required">手機</label>
                                <input type="tel" class="form-control" id="memberPhone" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="memberEmail" class="form-label required">Email</label>
                            <input type="email" class="form-control" id="memberEmail" required>
                        </div>
                    </fieldset>
                    <fieldset class="payment-fieldset mb-4">
                        <legend class="payment-lengend">收件人資料</legend>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="sameAsMember">
                            <label class="form-check-label" for="sameAsMember">同會員資料</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 mb-lg-0 mb-3">
                                <label for="recipientName" class="form-label required">真實姓名</label>
                                <input type="text" class="form-control" id="recipientName" required>
                            </div>
                            <div class="col-lg-6">
                                <label for="recipientPhone" class="form-label required">手機</label>
                                <input type="tel" class="form-control" id="recipientPhone" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="recipientEmail" class="form-label required">E-mail</label>
                            <input type="email" class="form-control" id="recipientEmail" required>
                         </div>
                    </fieldset>
                    <fieldset class="payment-fieldset mb-4">
                        <legend class="payment-lengend">收件地址</legend>
                        <div class="row mb-3">
                            <div class="col-lg-4 mb-lg-0 mb-3">
                              <label for="county" class="form-label required">縣市</label>
                                <select class="form-select" id="county" required>
                                  <option value="" selected>請選擇縣市</option>
                                  <option value="Taipei">台北市</option>
                                  <option value="Taichung">台中市</option>
                                  <option value="Kaohsiung">高雄市</option>
                                  <!-- 待補足 -->
                                </select>
                            </div>
                            <div class="col-lg-4 mb-lg-0 mb-3">
                               <label for="district" class="form-label required">鄉鎮市區</label>
                                 <select class="form-select" id="district" required>
                                   <option value="" selected>請選擇鄉鎮市區</option>
                                    <!-- 呃… -->
                                 </select>
                            </div>
                            <div class="col-lg-4">
                               <label for="zipcode" class="form-label required">郵遞區號</label>
                               <input type="text" class="form-control" id="zipcode" required>
                            </div>
                        </div>
                        <div class="mb-3">
                          <label for="address" class="form-label required">地址</label>
                          <input type="text" class="form-control" id="address" required>
                        </div>
                    </fieldset>

                    <!-- 付款方式 -->
                    <h2 class="fs-lg-3 fs-4 text-primary-2 mb-4">付款方式</h2>
                    <!-- 線上刷卡 -->
                    <div class="accordion" id="paymentOption">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#paymentOptionOne" aria-expanded="true" aria-controls="paymentOptionOne">
                            <div class="form-check w-100">
                              <input class="form-check-input" type="radio" name="paymentMethod" id="payWithCard" value="payWithCard" checked>
                              <label class="form-check-label w-100 d-inline-block align-middle" for="payWithCard">
                                  線上刷卡
                              </label>
                            </div>
                          </button>
                        </h2>
                        <div id="paymentOptionOne" class="accordion-collapse collapse show" data-bs-parent="#paymentOption">
                          <div class="accordion-body">
                            <%- include('./layout/checkout-card'); -%>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paymentOptionTwo" aria-expanded="false" aria-controls="paymentOptionTwo">
                            <div class="form-check w-100">
                              <input class="form-check-input" type="radio" name="paymentMethod" id="atmTransfer" value="atmTransfer">
                              <label class="form-check-label w-100 d-inline-block align-middle" for="atmTransfer">
                                  ATM 轉帳
                              </label>
                            </div>
                          </button>
                        </h2>
                        <div id="paymentOptionTwo" class="accordion-collapse collapse" data-bs-parent="#paymentOption">
                          <div class="accordion-body">
                            <%- include('./layout/checkout-atm'); -%>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paymentOptionThree" aria-expanded="false" aria-controls="paymentOptionThree">
                            <div class="form-check w-100">
                              <input class="form-check-input" type="radio" name="paymentMethod" id="paymentCode" value="paymentCode">
                              <label class="form-check-label w-100 d-inline-block align-middle" for="paymentCode">
                                  超商代碼付款
                              </label>
                            </div>
                          </button>
                        </h2>
                        <div id="paymentOptionThree" class="accordion-collapse collapse" data-bs-parent="#paymentOption">
                          <div class="accordion-body">
                            <%- include('./layout/checkout-market'); -%>
                          </div>
                        </div>
                      </div>
                    </div>
               </form>
            </main>
            <aside class="col-lg-4 d-lg-block d-none">
              <div class="card checkout-info-sidebar bg-primary-9 border rounded-1 h-auto" style="border: 1px sold #606060;">
                <div class="order-info">
                  <div class="card-header">
                    <h4 class="mb-5">訂單資訊</h3>
                    <h5 class="fs-7 text-nowrap mb-3 text-primary-2">方案名稱：</h4>
                    <p class="fs-7 mb-0">《追風者》群眾募資計畫 - </p>
                    <p class="fs-7 mb-1 text-end">贊助方案【我全都要組】</p>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled">
                      <li class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="small text-primary-2 text-nowrap mb-0">訂單編號：</h5>
                        <p class="mb-0 font-monospace">WINDS100033302</p>
                      <li class="d-flex justify-content-between align-items-center mb-5">
                        <h5 class="small text-primary-2 text-nowrap mb-0">訂單金額：</h5>
                        <p class="mb-0">NT$ 2,000</p>
                      </li>
                      <hr>
                      <li class="d-flex justify-content-between align-items-center mb-5">
                        <h5 class="fs-7 text-primary-2 text-nowrap mb-0">應付金額：</h5>
                        <p class="mb-0 fw-bold fs-7">NT$ 2,000</p>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                    <a href="payment-success.html">
                      <button class="btn btn-primary w-100 my-2">確認付款</button>
                    </a>
                  </div>
                 </div>
               </div>
              </aside>
        </div>
    </div>
    <!-- 手機版：aside 變成 footer -->
    <footer class="checkout-footer d-lg-none d-block p-4 bg-primary-8 fixed-bottom">
      <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#checkoutModal">
          查看訂單
        </button>
        <!-- <div class="d-flex flex-column gap-1 w-auto">
          <div class="d-flex">
            <p class="mb-0 d-xs1-block">方案名稱：</p>
            <strong>《追風者》【我全都要組】</strong>
          </div>
          <p class="mb-0 d-xs1-block">訂單編號：WINDS100033302</p>
        </div> -->
        <div class="d-flex align-items-center gap-3 justify-content-between">
          <p class="total-amount fs-7 mb-0">NT$ 2,000</p>
          <a href="payment-success.html">
            <button type="submit" class="btn btn-primary ms-auto">確認付款</button>
          </a>
        </div>
      </div>
    </footer>

    <div class="modal fade checkout-modal" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModal" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content bg-primary-9 rounded-1">
          <div class="modal-header">
            <h5 class="modal-title fs-sm-6 fs-7" id="checkoutModal">《 追風者 》贊助方案－－【 我全都要組 】</h5>
            <button type="button" class="btn-close btn-checkout-close btn-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column justify-content-between">
            <ul class="list-unstyled d-flex flex-column gap-3">
              <li class="d-flex justify-content-between align-items-center">
                <small class="mb-0 text-primary-3">訂單編號：</small>
                <p class="mb-0">WINDS100033302</p>
              </li>
              <li class="d-flex justify-content-between align-items-center">
                <small>方案金額：</small>
                <p class="mb-0">NT$2,000</p>
              </li>
              <li class="d-flex justify-content-between align-items-center">
                <small>加購項目：</small>
                <p class="mb-0">無</p>
              </li>
              <li class="d-flex justify-content-between align-items-center">
                <small>加購金額：</small>
                <p class="mb-0">NT$0</p>
              </li>
              <li class="d-flex justify-content-between align-items-center">
                <small>加碼金額：</small>
                <p class="mb-0">NT$0</p>
              </li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">總計：</p>
              <p class="fs-7 fw-bold mb-0">NT$2,000</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">確認訂單</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-lg-0 mb-20">
      <%- include('./layout/footer'); -%>
    </div>


    <script type="module" src="../main.js"></script>
    <script src="https://kit.fontawesome.com/c8476d4a9f.js" crossorigin="anonymous"></script>
  </body>
</html>