<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>完成提案</title>
  </head>
  <body class="vh-100 d-flex flex-column bg-ligth-deco">
    <%- include('./layout/header'); -%>

    <div class="container pt-20 pt-xl-40 pb-10 pb-md-15 pb-xl-30 text-center">
      <div class="p-5 p-sm-8 p-md-10 text-center">
        <h1 class="fs-5 fs-md-1 mb-4"><i class="bi bi-check-circle me-2"></i>專案已提交</h2>
        <h2 class="fs-5 fs-md-1 mb-8"><i class="bi bi-clock me-2"></i>待審核</h2>
        <p class="fs-base fs-md-6">感謝您的提交，<br>我們會在3~5個工作日審核完畢，<br>請您耐心等待</p>
      </div>
      <a href="index.html" class="btn btn-white text-primary-1000 fw-bolder py-3 px-20 w-100 w-md-auto mb-4 mb-md-0 me-md-5">返回首頁</a>
      <a href="project-explore.html" class="btn btn-white text-primary-1000 fw-bolder py-3 px-20 w-100 w-md-auto">查看專案</a>
    </div>

    <div class="mt-auto">
      <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
