<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>《追風者》回饋方案</title>
  </head>
  <body class="feedbackChoice-bg">
    <%- include('./layout/header'); -%>
      <header class="feedbackChoice-header container" >
        <div class="header-wrapper mx-auto fw-bolder">
          <div class="feedback-choice-header-title mb-lg-15 mb-10 w-100" style="margin-top: 276px;">
            <h1 class="fs-lg-xxl fs-6 mb-lg-3 mb-1 text-center">《 追風者 》紀錄片募資計畫</h1>
            <p class="fs-lg-6 fs-sm text-primary-2 text-center">春日影像製作 Spring Film</p>
          </div>
          <ul class="feedback-choice-header-outline list-unstyled w-100">
            <li class="fs-lg-6 text-center mb-4">募資期間 2024/8/3 - 2024/12/31</li>
            <li class="fs-lg-6 d-flex justify-content-between mb-4">
              <div class="fund-target">
                NT$ 123,456  <span class="fs-lg-base fs-sm text-primary-4 ms-3 me-auto">/ NT$ 3,000,000</span>
              </div>
              <div class="percentage fs-lg-6">
                99%
              </div>
            </li>
            <li class="mb-4">
              <div class="progress bg-primary-8 opacity-50" role="progressbar" aria-label="Basic example" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="height: 8px; border-radius: 50px;">
                <div class="progress-bar bg-white" style="width: 43%; border-radius: 30px;"></div>
              </div>
            </li>
            <li class="d-flex justify-content-between">
              <div class="fs-lg-7 fs-sm sponsor-number"><span class="material-symbols-outlined me-1 align-bottom text-primary-5">person</span>100</div>
              <div class="deadline-countdown fs-lg-7 fs-sm">
                募資倒數 15 天 3 小時
              </div>
            </li>
          </ul>
        </div>
      </header>
      <main style="padding: 120px 0;">

      </main>

   

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
