<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>《追風者》回饋方案</title>
  </head>
  <body class="feedbackChoice-bg">
    <%- include('./layout/header'); -%>
      <header class="feedbackChoice-header container" >
        <div class="header-wrapper mx-auto fw-bolder">
          <div class="feedback-choice-header-title mb-lg-15 mb-10 w-100" style="margin-top: 276px;">
            <h1 class="fs-lg-xxl fs-6 mb-lg-3 mb-1 text-center">《 追風者 》紀錄片募資計畫</h1>
            <p class="fs-lg-6 fs-sm text-primary-2 text-center">春日影像製作 Spring Film</p>
          </div>
          <ul class="feedback-choice-header-outline list-unstyled w-100">
            <li class="fs-lg-6 text-center mb-4">募資期間 2024/8/3 - 2024/12/31</li>
            <li class="fs-lg-6 d-flex justify-content-between mb-4">
              <div class="fund-target">
                NT$ 123,456  <span class="fs-lg-base fs-sm text-primary-4 ms-3 me-auto">/ NT$ 3,000,000</span>
              </div>
              <div class="percentage fs-lg-6">
                99%
              </div>
            </li>
            <li class="mb-4">
              <div class="progress bg-primary-8 opacity-50" role="progressbar" aria-label="Basic example" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100" style="height: 8px; border-radius: 50px;">
                <div class="progress-bar bg-white" style="width: 43%; border-radius: 30px;"></div>
              </div>
            </li>
            <li class="d-flex justify-content-between align-items-center">
              <div class="sponsor-number d-flex align-items-center">
                <span class="material-symbols-outlined me-1 align-bottom text-primary-5">person</span>
                <div class="fs-lg-7 fs-sm">100</div>
              </div>
              <div class="deadline-countdown fs-lg-7 fs-sm">
                募資倒數 15 天 3 小時
              </div>
            </li>
          </ul>
        </div>
      </header>
      <!-- 贊助方案 swiper -->
      <main class="container position-relative" style="padding: 120px 0;">
        <div class="swiper feedbackChoiceSwiper">
          <div class="swiper-wrapper">
            <!-- 卡片一 -->
            <div class="swiper-slide h-auto">
              <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column" style="border-color: #606060;">
                <img class="object-fit-cover rounded-top-2" src="../assets/images/image 59.png" alt="電影海報組">
                <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
                  <div class="feedbackChoice-card-title fw-bolder">
                    <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">電影海報組</h2>
                    <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 500</h3>
                    <hr/>
                  </div>
                  <div class="feedbackChoice-card-content d-flex flex-column h-100">
                    <p class="mb-lg-2 mb-1">本方案包含：</p>
                    <ol class="list-unstyled mb-g-6 mb-3">
                      <li>1. 獨家簽名海報乙張</li>
                      <li>2. 獨家酷卡乙組</li>
                      <li>3. 首輪交換券乙張</li>
                      <li>4. 片尾感謝名單</li>
                      <li>5. Vber Eat 100元折價券</li>
                    </ol>
                    <button class="btn btn-primary w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</button>
                  </div>
                </div>
              </section>
            </div>
              <!-- 卡片二 -->
            <div class="swiper-slide h-auto">
              <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column" style="border-color: #606060;">
                <img class="object-fit-cover rounded-top-2" src="../assets/images/image 61.png" alt="劇照訪談組">
                <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
                  <div class="feedbackChoice-card-title fw-bolder">
                    <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">劇照訪談組</h2>
                    <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 800</h3>
                    <hr/>
                  </div>
                  <div class="feedbackChoice-card-content d-flex flex-column h-100">
                    <p class="mb-lg-2 mb-1">本方案包含：</p>
                    <ol class="list-unstyled mb-g-6 mb-3">
                      <li>1. 獨家簽名劇照訪談集乙本</li>
                      <li>2. 獨家酷卡乙組</li>
                      <li>3. 首輪交換券乙張</li>
                      <li>4. 片尾感謝名單</li>
                      <li>5. Vber Eat 100元折價券</li>
                    </ol>
                    <button class="btn btn-primary w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</button>
                  </div>
                </div>
              </section>
            </div>
            <!-- 卡片三 -->
            <div class="swiper-slide h-auto">
              <section class="feedbackChoice-card bg-primary-9 rounded-2 border d-flex flex-column h-100" style="border-color: #606060;">
                <img class="object-fit-cover rounded-top-2" src="../assets/images/image 60.png" alt="手機支架組">
                <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
                  <div class="feedbackChoice-card-title fw-bolder">
                    <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">手機支架組</h2>
                    <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 1,200</h3>
                    <hr/>
                  </div>
                  <div class="feedbackChoice-card-content d-flex flex-column h-100">
                      <p class="mb-lg-2 mb-1">本方案包含：</p>
                      <ol class="list-unstyled mb-g-6 mb-3">
                        <li>1. 特色手機支架乙支</li>
                        <li>2. 獨家酷卡乙組</li>
                        <li>3. 首輪交換券乙張</li>
                        <li>4. 片尾感謝名單</li>
                        <li>5. Vber Eat 100元折價券</li>
                      </ol>
                      <button class="btn btn-primary w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</button>
                    </div>
                </div>
              </section>
            </div>
            <!-- 卡片四 -->
            <div class="swiper-slide h-auto">
             <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column" style="border-color: #606060;">
               <img class="object-fit-cover rounded-top-2" src="../assets/images/image 62.png" alt="我全都要組">
               <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
                 <div class="feedbackChoice-card-title fw-bolder">
                   <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">我全都要組</h2>
                   <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 2000</h3>
                   <hr/>
                  </div>
                   <div class="feedbackChoice-card-content d-flex flex-column h-100">
                     <p class="mb-lg-2 mb-1">本方案包含：</p>
                     <ol class="list-unstyled mb-g-6 mb-3">
                       <li>1. 獨家簽名海報乙張</li>
                       <li>2. 獨家簽名劇照訪談集乙本</li>
                       <li>3. 特色手機支架乙支</li>
                       <li>4. 獨家酷卡乙組</li>
                       <li>5. 首輪交換券乙張</li>
                       <li>6. 片尾感謝名單</li>
                       <li>7. Vber Eat 100元折價券</li>
                     </ol>
                     <button class="btn btn-primary w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案</button>
                   </div>
               </div>
             </section>
          </div>
          <!-- 把分頁器弄出來的卡片 -->
          <div class="swiper-slide h-auto">
            <section class="feedbackChoice-card bg-primary-9 rounded-2 border h-100 d-flex flex-column" style="border-color: #606060;">
              <img class="object-fit-cover rounded-top-2" src="../assets/images/image 59.png" alt="電影海報組">
              <div class="feedbackChoice-card-bottom p-lg-5 py-4 px-3 h-100 d-flex flex-column">
                <div class="feedbackChoice-card-title fw-bolder">
                  <h2 class="feedbackChoice-card-subject fs-lg-7 mb-1">電影海報組</h2>
                  <h3 class="fs-lg-6 fs-7 mb-lg-6 mb-3">NT$ 500</h3>
                  <hr/>
                </div>
                <div class="feedbackChoice-card-content d-flex flex-column h-100">
                  <p class="mb-lg-2 mb-1">本方案包含：</p>
                  <ol class="list-unstyled mb-g-6 mb-3">
                    <li>1. 獨家簽名海報乙張</li>
                    <li>2. 獨家酷卡乙組</li>
                    <li>3. 首輪交換券乙張</li>
                    <li>4. 片尾感謝名單</li>
                    <li>5. Vber Eat 100元折價券</li>
                  </ol>
                    <button class="btn btn-primary w-100 py-3 mt-auto text-primary-10 fw-bolder">選擇此方案 </button>
                  </div>
                </div>
              </section>
            </div>
          </div>   
        </div>
        <!-- 分頁器 -->
        <div class="d-none d-md-flex align-items-center justify-content-center mt-7">
          <div>
            <div class="swiper-button-prev feedbackChoiceSwiper-button-prev"></div>
          </div>
          <div class="swiper-pagination feedbackChoiceSwiper-pagination w-auto"></div>
          <div>
            <div class="swiper-button-next feedbackChoiceSwiper-button-next"></div>
          </div>
        </div>
      </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
