<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>完成提案</title>
  </head>
  <body class="vh-100 d-flex flex-column">
    <%- include('./layout/header'); -%>
    <div class="h-100 forgetpassword-bg">
      <div class="container py-40">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-xl-6 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-end mb-5">
              <h1 class="fs-6 mb-0">忘記密碼</h1>
              <p class="mb-0">想到密碼了!<a href="login.html" class="ms-2 border-bottom">立即登入</a></p>
            </div>
            <form action="#" class="d-flex flex-column mb-5 mb-md-10">
              <div class="mb-3 mb-md-5">
                <label for="email" class="form-label"></label>
                <input type="email" class="form-control p-3" id="email" placeholder="請輸入註冊時的 Email 電子信箱" />
              </div>
              <p class="mb-3 mb-3 mb-md-5">我們將寄送重設密碼的連結到您的Email</p>
              <a href="changepassword.html" class="btn btn-white text-gray-1000 fw-bolder py-3">寄到我的Email電子信箱</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-auto"><%- include('./layout/footer'); -%></div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
