<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登入</title>
  </head>
  <body class="bg-primary-1000">
    <%- include('./layout/header'); -%>
    
    <div class="container pt-40 pb-30">
      <div class="row justify-content-center">
        <div class="col-6 d-flex flex-column">
          <div class="d-flex justify-content-between align-items-end mb-5">
            <h1 class="fs-6 mb-0">登入</h1>
            <p class="mb-0">是新朋友嗎?<a href="register.html" class="ms-2 border-bottom">立即註冊</a></p>
          </div>

          <a href="#" class="btn btn-white text-gray-1000 fw-bolder py-3 mb-5"><i class="bi bi-facebook me-2"></i>使用 facebook 帳號繼續</a>
          <a href="#" class="btn btn-white text-gray-1000 fw-bolder py-3 mb-5"><i class="bi bi-line me-2"></i>使用 Line 帳號繼續</a>
          <a href="#" class="btn btn-white text-gray-1000 fw-bolder py-3 mb-5"><i class="bi bi-google me-2"></i>使用 Google 帳號繼續</a>

          <p class="text-center">或使用 FilmNest 影巢帳號登入</p>
          
          <form action="#" class="d-flex flex-column mb-10">
            <div class="mb-5">
              <label for="email" class="form-label">請輸入 Email 電子信箱</label>
              <input type="email" class="form-control p-3" id="email" placeholder="請輸入 Email 電子信箱">
            </div>
            <div class="mb-5">
              <label for="password" class="form-label">請輸入密碼</label>
              <input type="password" class="form-control p-3" id="password" placeholder="請輸入密碼">
            </div>
            <a href="#" class="fs-sm mb-5 ms-auto border-bottom">忘記密碼</a>
            <button type="submit" class="btn btn-white text-gray-1000 fw-bolder py-3 fs-6">登入</button>
          </form>

          <p class="text-center">登入後即代表你同意<a href="#" class="border-bottom">服務條款</a>及<a href="#" class="border-bottom">隱私權政策</a></p>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
