<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>追風者-常見問題</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- 劇照 swiper & 提案人 info -->
    <%- include('./layout/project-photograph-proposer'); -%>

    <!-- project-intro-nav -->
    <%- include('./layout/project-intro-nav', {page: "project-QA"}); -%>

    <main class="py-8 pt-md-15 pb-md-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h4 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button
                    class="accordion-button rounded"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    <span class="me-4 fw-bolder">Q1</span
                    ><span>本次計畫的發起團隊為何？</span>
                  </button>
                </h4>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne"
                >
                  <div class="accordion-body">
                    本次募款計劃由<strong>「春日影像製作 Spring Film」</strong>
                    這是一個專注於社會議題、真實故事的影像創作團隊。我們致力於通過紀錄片與影片，探索被忽視的社會群體，講述那些值得被聽見的故事。此次的《追風者》便是我們希望藉由影像帶出外送員群體真實生活的其中一部作品。
                  </div>
                </div>
              </div>
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    Accordion Item #2
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo"
                >
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                    It is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These
                    classes control the overall appearance, as well as the
                    showing and hiding via CSS transitions. You can modify any
                    of this with custom CSS or overriding our default variables.
                    It's also worth noting that just about any HTML can go
                    within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item border border-primary-5 rounded">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    Accordion Item #3
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingThree"
                >
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It
                    is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These
                    classes control the overall appearance, as well as the
                    showing and hiding via CSS transitions. You can modify any
                    of this with custom CSS or overriding our default variables.
                    It's also worth noting that just about any HTML can go
                    within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
