<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>追風者專案介紹</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- 劇照 swiper & 提案人 info -->
    <%- include('./layout/project-photograph-proposer'); -%>

    <!-- project-intro-nav -->
    <%- include('./layout/project-intro-nav', {page: "project-intro"}); -%>

    <!-- project-intro-content -->
    <div class="pt-8 pb-10 py-md-15">
      <div class="container">
        <div class="row mb-8 mb-lg-15">
          <div class="col-lg-1"></div>
          <div class="col-lg-4 d-none d-lg-block">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6 fw-bolder">影片主旨</h4>
            <p class="mb-8 mb-lg-0 fs-sm fs-md-base">
              在這個現代都市，馬路早已不僅僅是交通的動脈，更是許多人的另一個家。對於食物外送員而言，這條看似無盡的道路，不僅是他們工作的場所，更是他們的飯桌、臥室，以及日夜勞動的舞台。
              對於即將踏入三十歲青春的這群年輕外送員來說，他們問自己：為了夢想與財富自由，究竟要用多少歲月與勞力交換而來？
            </p>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <img
              class="rounded w-100"
              src="/assets/images/追風者劇照/追風者3.png"
              alt="兩位外送人員的背影"
            />
          </div>
          <!-- 手機版順序調換-start -->
          <div class="col-lg-6 d-block d-lg-none mb-10">
            <img
              class="rounded w-100"
              src="/assets/images/追風者劇照/追風者3.png"
              alt="兩位外送人員的背影"
            />
          </div>
          <div class="col-lg-4 d-block d-lg-none">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6 fw-bolder">影片主旨</h4>
            <p class="mb-8 mb-lg-0 fs-sm fs-md-base">
              紀錄作為外送員，辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣，以及突如其來的訂單取消，這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制，常常讓人感到疲憊。但每當看到客戶滿意的微笑，這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
          </div>
          <!-- 手機版順序調換-end -->
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6 fw-bolder">背景動機</h4>
            <p class="mb-10 mb-lg-15 fs-sm fs-md-base">
              2020
              年全球新冠肺炎流行後，外送產業成為少數正成長的行業之一。然而，進入
              2024
              年疫情後時代，各行各業重新整裝上陣，外送產業是否仍維持穩定成長，或者被歸類為新興產業還是夕陽工業，成為了一個值得探討的問題。在這樣的背景下，我在研究所休學期間有過短暫兼差跑外送的實際體驗，這也成為了我探索的起點。
              在外送的工作中，我結識了一群比我早從事外送行樣的前輩們，其中有我這次訪談對象小齊、阿源和阿傑等人。我直接觀察和了解這些兄弟前輩是如何從事外送工作的，以及他們在送貨日常中所遇到的各種人生課題：其中，他們在送貨中會送到真正需要幫忙外送食物的人身上時(醫院工作、病房家屬、行動不便和年長者等…)，是最令我意想不到的打動。這段經歷啟發我決定拿起攝影機，以紀錄片的形式呈現這個群體的故事。
            </p>
            <img
              class="rounded"
              src="/assets/images/追風者劇照/追風者4.png"
              alt="外送人員利用停等紅燈時吃便當"
            />
            <h4 class="mb-8 mb-lg-10 mt-10 mt-lg-15 fs-7 fs-md-6 fw-bolder">
              影片內容
            </h4>
            <h5 class="mb-3 mb-lg-4 fs-base fs-md-7">事件簡介</h5>
            <p class="mb-6">
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
            <img
              class="object-fit-cover rounded mb-10"
              src="/assets/images/追風者劇照/追風者7.png"
              alt=""
            />
            <h5 class="mb-3 mb-lg-4 fs-base fs-md-7 fw-bolder">故事大綱</h5>
            <p>
              阿源：「人生不能再耽擱下去，三十歲不老也不年輕，只能趁現在奮力一搏⋯⋯」
            </p>
            <p>
              阿齊：「幸福的幻想，想要的幸福就是最簡單的那種，不用為食衣住行煩惱，想吃什麼就點什麼；有時間陪老婆小孩，組一個家庭好好快樂活著⋯⋯」
            </p>
            <p>
              寒風刺骨的冬季一月，冷風陣陣吹向在馬路上搖擺前行的外送機車騎士---阿源。下班交通尖峰時間，台北橋下擁擠的機車瀑布景觀，阿源身手敏捷地快速穿梭在車流中，把握分分秒秒，時間就是他們的金錢。他們是高風險工作群的UberEat
              與 foodpanda食物外送員。
              晚餐的時間是從下午四點半至七點半左右，在這短短的三小時中，平均每小時要送完四到六單才能算是頂標表現。「遠單不送送近單」、「趟次獎勵才是賺錢的絕佳工具」這是外送員內行人快速賺錢法則。
            </p>
            <img
              class="object-fit-cover rounded mb-6"
              src="/assets/images/追風者劇照/追風者5.png"
              alt="追風者背影"
            />
            <p>
              阿源帶著安全帽進到百貨公司，快速且不失禮貌性的取走客人點的溫馨晚餐，再小心翼翼的帶回並放進車廂裡上路，開始用生命在追逐的男人，與時間賽跑。機車技巧性地停靠在臨停區，轉眼來到車水馬龍的中山區馬偕醫院，手上拿著的是加護病房家屬的晚餐...
            </p>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row pt-10 pb-8">
          <div class="col-lg-8 mx-auto">
            <div class="p-5 p-lg-10 bg-producer text-center">
              <h4 class="mb-3 mb-lg-5 fs-lg-7 fw-bolder">製作團隊介紹</h4>
              <img
                class="object-fit-cover rounded-1 mb-4"
                style="max-width: 200px; height: 200px"
                src="/assets/images/遠端對話劇照/遠端對話導演照/導演照1.jpg"
                alt=""
              />
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">導演：周禹丞</h6>
              <p class="mb-3 mb-lg-4 text-start">
                畢業於世新大學廣播電視電影學系電影組，現就讀國立臺北藝術大學電影創作學系研究所導演組。
              </p>
              <p class="mb-10 mb-lg-12 text-start">
                善於觀察溫柔情感和人際關係的鏡頭捕捉，近年來從紀錄片創作中找到極大樂趣。希望能藉由更多的影像創作中找到真實且精彩的人生。攝影作品數部橫跨MV、廣告、形象、紀錄/劇情短片各類商業及藝術領域。
              </p>
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">製片/企劃：陳甄容</h6>
              <p class="mb-3 mb-lg-4 text-start">
                淡江大學中國文學系，現就讀台北藝術大學電影創作學系研究所電影產業研究組。
              </p>
              <p class="mb-10 mb-lg-12 text-start">
                曾任職台北市電影委員會期間辦理電影劇本徵選、電影合作行銷計畫及國際動畫論壇講座等。曾任職國影中心擔任107年度優良電影劇本活動執行；2020【藝文記者實驗室】專案活動統籌、勞動金像獎&勞工影展活動執行，2021【藝文記者入門課】專案活動統籌、2021蒙藏影展專案活動統籌、2022世界民族電影節活動執行、2022外交部新南向電影節活動執行、2023國影中心《影視聽名人堂》專案執行等。
              </p>
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">攝影：黃泰誠</h6>
              <p class="mb-3 mb-lg-4 text-start">
                朝陽科技大學傳播藝術系（Chaoyang University of Technology -
                Department of Communication
                Arts）畢業，北京電影學院攝影系交換生(2016)、金馬電影學院攝影學員(2021)，從短片創作、紀錄片逐漸累積成長養分。
              </p>
              <p class="text-start">
                現今作品跨足於劇情片、紀錄片、廣告、MV等領域。
                關注文化、在地、人性議題，著力於建立與導演意念連結之影像。以自然光感、色彩運用、有機攝影機運動轉譯角色情緒、故事本質。善於觀察與聆聽，具有創造性思維，在宏觀與微觀環境之中，發掘隱藏事物。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
