<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>專案探索</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>
    <section class="pt-5" style="margin-top: 89px">
      <div class="container" style="box-shadow: 0px 20px 20px -20px #ffffff33">
        <div class="d-flex pb-5 border-bottom border-primary-9 project-spacing">
          <div class="d-flex align-items-center">
            <span class="project-select me-md-3 fs-sm fs-md-base">專案分類</span
            ><select
              class="form-select fs-sm fs-md-base project-option"
              aria-label="Default select example"
            >
              <option selected><a href="#">全部專案</a></option>
              <option value="1"><a href="#">喜劇</a></option>
              <option value="2"><a href="#">愛情</a></option>
              <option value="3"><a href="#">恐怖</a></option>
              <option value="4"><a href="#">懸疑</a></option>
              <option value="5"><a href="#">科幻</a></option>
              <option value="6"><a href="#">紀錄片</a></option>
              <option value="7"><a href="#">動畫</a></option>
              <option value="8"><a href="#">實驗電影</a></option>
            </select>
          </div>
          <div class="d-flex align-items-center">
            <span class="project-select me-md-3 fs-sm fs-md-base">專案狀態</span
            ><select
              class="form-select fs-sm fs-md-base"
              aria-label="Default select example"
            >
              <option selected><a href="#">進行中</a></option>
              <option value="1"><a href="#">即將開始</a></option>
              <option value="2"><a href="#">已結案</a></option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <!-- project-cards -->
    <section class="py-12">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-6">
          <!-- 1 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/追風者劇照/追風者5.png"
                  alt="外送人員背影"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    外送人員不為人知的辛勞－紀錄片《追風者》募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 2 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image26.png"
                  alt="魔羯男孩"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    畢業製作《魔羯男孩》募資計畫-談青春成長的自我受限
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 3 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image33.png"
                  alt="末日遠行"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    金狗獎最佳短片《末日遠行》長片募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 4 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image28.png"
                  alt="梵谷-星空"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    《IQBA》：春上村樹授權改編募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 5 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/遠端對話劇照/遠端對話1.png"
                  alt="遠端對話"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    南方影展首獎 - 紀錄短片《遠端對話》劇情長片計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 6 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image38.png"
                  alt="孤獨時光"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    金穗獎《孤獨時光》｜長片募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 7 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image35.png"
                  alt="十年"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    《十年》紀錄片募資計畫 探索教育體系對工作的影響
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 8 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image36.png"
                  alt="遠端對話"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    學生動作片《迫影》｜募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 9 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image34.png"
                  alt="玉蘭"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">《玉蘭》短片創作計畫</h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 10 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image39.png"
                  alt="喜歡你的11個理由"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    愛情電影《喜歡你的11個理由》募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 11 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/追風者劇照/追風者7.png"
                  alt="追風者"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    外送人員不為人知的辛勞－紀錄片《追風者》募資計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
          <!-- 12 -->
          <div class="col">
            <a href="project-intro.html" class="project-card-link">
              <div class="card project-card">
                <img
                  class="object-fit-cover rounded-top"
                  src="/assets/images/image37.png"
                  alt="遠端對話"
                />
                <!-- card-header & card-body & card-footer -->
                <div class="p-3 mt-3">
                  <h3 class="fs-sm fs-md-base mb-4">
                    南方影展首獎 - 紀錄短片《遠端對話》劇情長片計畫
                  </h3>
                  <!-- 募資人數 & 募資倒數 -->
                  <section class="d-flex justify-content-between mb-4">
                    <div class="">
                      <span class="material-symbols-outlined align-bottom fs-7">
                        person </span
                      ><span class="fs-sm">100</span>
                    </div>
                    <div class="fs-sm">倒數 10 天</div>
                  </section>
                  <!-- 募資進度 -->
                  <section
                    class="progress bg-primary-8 mb-4"
                    style="height: 4px"
                  >
                    <div
                      class="progress-bar bg-white"
                      role="progressbar"
                      style="width: 90%; border-radius: 50px"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </section>
                  <!-- 募資金額 -->
                  <p class="fs-6 mb-0">NT$ 123,456</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- pagination -->
        <ul
          class="mt-10 d-flex list-unstyled justify-content-center align-items-center gap-1 gap-md-3"
        >
          <li>
            <a
              class="pagination-item pagination-item-disabled rounded"
              href="#"
              disabled
              ><span class="material-symbols-outlined">
                keyboard_double_arrow_left
              </span></a
            >
          </li>
          <li>
            <a
              class="pagination-item pagination-item-disabled rounded"
              href="#"
              disabled
              ><span class="material-symbols-outlined"> chevron_left </span></a
            >
          </li>
          <li>
            <a
              class="pagination-item pagination-item-active rounded fs-sm fs-md-base"
              href="#"
              >1</a
            >
          </li>
          <li>
            <a class="pagination-item rounded fs-sm fs-md-base" href="#">2</a>
          </li>
          <li>
            <a class="pagination-item rounded fs-sm fs-md-base" href="#">3</a>
          </li>
          <li>
            <a class="pagination-item rounded fs-sm fs-md-base" href="#">...</a>
          </li>
          <li>
            <a class="pagination-item rounded fs-sm fs-md-base" href="#">10</a>
          </li>
          <li>
            <a class="pagination-item rounded" href="#"
              ><span class="material-symbols-outlined"> chevron_right </span></a
            >
          </li>
          <li>
            <a class="pagination-item rounded" href="#"
              ><span class="material-symbols-outlined">
                keyboard_double_arrow_right
              </span></a
            >
          </li>
        </ul>
      </div>
    </section>
    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
