<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>追風者-常見問題</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- 劇照 swiper & 提案人 info -->
    <%- include('./layout/project-photograph-proposer'); -%>

    <!-- project-intro-nav -->
    <%- include('./layout/project-intro-nav', {page: "project-QA"}); -%>

    <main class="py-8 pt-md-15 pb-md-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="accordion" id="accordionPanelsStayOpenQA">
              <!-- Q1 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h4 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button
                    class="accordion-button rounded"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    <span class="me-4 fw-bolder">Q1</span
                    ><span>本次計畫的發起團隊為何？</span>
                  </button>
                </h4>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne"
                >
                  <div class="accordion-body">
                    本次募款計劃由<strong>「春日影像製作 Spring Film」</strong>
                    這是一個專注於社會議題、真實故事的影像創作團隊。我們致力於通過紀錄片與影片，探索被忽視的社會群體，講述那些值得被聽見的故事。此次的《追風者》便是我們希望藉由影像帶出外送員群體真實生活的其中一部作品。
                  </div>
                </div>
              </div>
              <!-- Q2 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    <span class="me-4 fw-bolder">Q2</span
                    ><span>首映會何時舉行？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo"
                >
                  <div class="accordion-body">
                    首映會將於
                    <time datetime="2024/10/06">10 月 6 日</time>
                    舉行，具體地點和時間將會提前通知所有支持者，並公布在專案的最新消息區塊。
                  </div>
                </div>
              </div>
              <!-- Q3 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    <span class="me-4 fw-bolder">Q3</span
                    ><span>我該如何參加電影首映會？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingThree"
                >
                  <div class="accordion-body">
                    只要支持了包含首映會門票的方案，您將會在首映會前收到邀請函和詳細的活動資訊。
                  </div>
                </div>
              </div>
              <!-- Q4 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour"
                  >
                    <span class="me-4 fw-bolder">Q4</span
                    ><span>如何領取我支持的回饋品？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseFour"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingFour"
                >
                  <div class="accordion-body">
                    在專案成功募資結束後，我們會聯繫所有支持者，確認您的聯繫資訊並安排回饋品的發送。具體寄送時間會視生產進度與地區而定。
                  </div>
                </div>
              </div>
              <!-- Q5 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFive"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive"
                  >
                    <span class="me-4 fw-bolder">Q5</span
                    ><span>如果我無法參加首映會，還能獲得回饋品嗎？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseFive"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingFive"
                >
                  <div class="accordion-body">
                    當然可以！即使無法參加首映會，您仍然會收到您支持的所有回饋品，我們會按照您的收件資訊寄送給您。
                  </div>
                </div>
              </div>
              <!-- Q6 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSix"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSix"
                  >
                    <span class="me-4 fw-bolder">Q6</span
                    ><span>這部影片有在其他平台或國際市場上映的計畫嗎？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseSix"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingSix"
                >
                  <div class="accordion-body">
                    目前我們專注於本地市場上映，但正在規劃透過線上平台進行後續發行。若有國際市場上映的消息，我們將會在專案頁面更新。
                  </div>
                </div>
              </div>
              <!-- Q7 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSeven"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSeven"
                  >
                    <span class="me-4 fw-bolder">Q7</span
                    ><span>捐款後能否修改支持方案或金額？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseSeven"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingSeven"
                >
                  <div class="accordion-body">
                    是的，在專案募資結束前，您可以修改您的支持方案或金額。募資結束後則無法更改。
                  </div>
                </div>
              </div>
              <!-- Q8 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseEight"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseEight"
                  >
                    <span class="me-4 fw-bolder">Q8</span
                    ><span>片長大約多久？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseEight"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingEight"
                >
                  <div class="accordion-body">
                    紀錄片《追風者》全長約90分鐘，包含精選訪談、真實故事片段以及導演的獨家敘述。
                  </div>
                </div>
              </div>
              <!-- Q9 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseNine"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseNine"
                  >
                    <span class="me-4 fw-bolder">Q9</span
                    ><span>如何確認我的支持已成功？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseNine"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingNine"
                >
                  <div class="accordion-body">
                    支持後，您會收到一封確認電子郵件，並可隨時在募資平台上的帳號中查看您的支持狀態。
                  </div>
                </div>
              </div>
              <!-- Q10 -->
              <div class="accordion-item border border-primary-5 rounded mb-4">
                <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                  <button
                    class="accordion-button rounded collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTen"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTen"
                  >
                    <span class="me-4 fw-bolder">Q10</span
                    ><span>若募資目標未達成，資金會如何處理？</span>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTen"
                  class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTen"
                >
                  <div class="accordion-body">
                    若募資未能成功，所有支持者將會全額退款，您不會損失任何資金。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
