<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>追風者專案介紹</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- 劇照 swiper & 提案人 info -->
    <%- include('./layout/project-photograph-proposer'); -%>

    <!-- project-intro-nav -->
    <%- include('./layout/project-intro-nav', {page: "project-intro"}); -%>

    <!-- project-intro-content -->
    <div class="pt-8 pb-10 py-md-15">
      <div class="container">
        <div class="row mb-8 mb-lg-15">
          <div class="col-lg-1"></div>
          <div class="col-lg-4 d-none d-lg-block">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6 fw-bolder">影片主旨</h4>
            <p class="mb-8 mb-lg-0 fs-sm fs-md-base">
              紀錄作為外送員，辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣，以及突如其來的訂單取消，這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制，常常讓人感到疲憊。但每當看到客戶滿意的微笑，這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <img
              class="rounded w-100"
              src="/assets/images/追風者劇照/追風者3.png"
              alt="兩位外送人員的背影"
            />
          </div>
          <!-- 手機版順序調換-start -->
          <div class="col-lg-6 d-block d-lg-none mb-10">
            <img
              class="rounded w-100"
              src="/assets/images/追風者劇照/追風者3.png"
              alt="兩位外送人員的背影"
            />
          </div>
          <div class="col-lg-4 d-block d-lg-none">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6 fw-bolder">影片主旨</h4>
            <p class="mb-8 mb-lg-0 fs-sm fs-md-base">
              紀錄作為外送員，辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣，以及突如其來的訂單取消，這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制，常常讓人感到疲憊。但每當看到客戶滿意的微笑，這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
          </div>
          <!-- 手機版順序調換-end -->
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6 fw-bolder">背景動機</h4>
            <p class="mb-10 mb-lg-15 fs-sm fs-md-base">
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
            <img
              class="rounded"
              src="/assets/images/追風者劇照/追風者4.png"
              alt="外送人員利用停等紅燈時吃便當"
            />
            <h4 class="mb-8 mb-lg-10 mt-10 mt-lg-15 fs-7 fs-md-6 fw-bolder">
              影片內容
            </h4>
            <h5 class="mb-3 mb-lg-4 fs-base fs-md-7">事件簡介</h5>
            <p class="mb-10">
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
            <h5 class="mb-3 mb-lg-4 fs-base fs-md-7 fw-bolder">故事大綱</h5>
            <p>
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row pt-10 pb-8">
          <div class="col-lg-8 mx-auto">
            <div class="p-5 p-lg-10 bg-producer text-center">
              <h4 class="mb-3 mb-lg-5 fs-lg-7 fw-bolder">製作團隊介紹</h4>
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">導演：周禹丞</h6>
              <p class="mb-3 mb-lg-4 text-start">
                畢業於世新大學廣播電視電影學系電影組，現就讀國立臺北藝術大學電影創作學系研究所導演組。
              </p>
              <p class="mb-10 mb-lg-12 text-start">
                善於觀察溫柔情感和人際關係的鏡頭捕捉，近年來從紀錄片創作中找到極大樂趣。希望能藉由更多的影像創作中找到真實且精彩的人生。攝影作品數部橫跨MV、廣告、形象、紀錄/劇情短片各類商業及藝術領域。
              </p>
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">製片/企劃：陳甄容</h6>
              <p class="mb-3 mb-lg-4 text-start">
                淡江大學中國文學系，現就讀台北藝術大學電影創作學系研究所電影產業研究組。
              </p>
              <p class="mb-10 mb-lg-12 text-start">
                曾任職台北市電影委員會期間辦理電影劇本徵選、電影合作行銷計畫及國際動畫論壇講座等。曾任職國影中心擔任107年度優良電影劇本活動執行；2020【藝文記者實驗室】專案活動統籌、勞動金像獎&勞工影展活動執行，2021【藝文記者入門課】專案活動統籌、2021蒙藏影展專案活動統籌、2022世界民族電影節活動執行、2022外交部新南向電影節活動執行、2023國影中心《影視聽名人堂》專案執行等。
              </p>
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">攝影：黃泰誠</h6>
              <p class="mb-3 mb-lg-4 text-start">
                朝陽科技大學傳播藝術系（Chaoyang University of Technology -
                Department of Communication
                Arts）畢業，北京電影學院攝影系交換生(2016)、金馬電影學院攝影學員(2021)，從短片創作、紀錄片逐漸累積成長養分。
              </p>
              <p class="mb-10 mb-lg-12 text-start">
                現今作品跨足於劇情片、紀錄片、廣告、MV等領域。
                關注文化、在地、人性議題，著力於建立與導演意念連結之影像。以自然光感、色彩運用、有機攝影機運動轉譯角色情緒、故事本質。善於觀察與聆聽，具有創造性思維，在宏觀與微觀環境之中，發掘隱藏事物。
              </p>
              <h6 class="mb-2 mb-lg-3 fs-sm fs-lg-base">剪輯：周先生</h6>
              <p class="mb-0 text-start">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt dicta quam voluptatum ipsa voluptas! Officiis fuga
                accusamus corporis at tenetur impedit commodi reprehenderit
                mollitia? Cupiditate vitae totam modi inventore veniam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
