<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>追風者專案介紹</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- 劇照 swiper & 提案人 info -->
    <%- include('./layout/project-photograph-proposer'); -%>

    <!-- project-intro-nav -->
    <%- include('./layout/project-intro-nav', {page: "project-intro"}); -%>

    <!-- project-intro-content -->
    <div class="pt-8 pb-10 py-md-15">
      <div class="container">
        <div class="row mb-8 mb-lg-15">
          <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6">影片主旨</h4>
            <p class="mb-8 mb-lg-0 fs-sm fs-md-base">
              紀錄作為外送員，辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣，以及突如其來的訂單取消，這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制，常常讓人感到疲憊。但每當看到客戶滿意的微笑，這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
          </div>
          <div class="col-lg-6">
            <img
              class="rounded w-100"
              src="/assets/images/追風者劇照/追風者3.png"
              alt="兩位外送人員的背影"
            />
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <h4 class="mb-3 mb-lg-5 fs-7 fs-md-6">背景動機</h4>
            <p class="mb-10 mb-lg-15 fs-sm fs-md-base">
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
            <img
              class="rounded"
              src="/assets/images/追風者劇照/追風者4.png"
              alt="外送人員利用停等紅燈時吃便當"
            />
            <h4 class="mb-8 mb-lg-10 mt-10 mt-lg-15 fs-7 fs-md-6">影片內容</h4>
            <h5 class="mb-3 mb-lg-4 fs-base fs-md-7">事件簡介</h5>
            <p class="mb-10">
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
            <h5 class="mb-3 mb-lg-4 fs-base fs-md-7">故事大綱</h5>
            <p>
              紀錄作為外送員,辛酸的部分常常來自於工作環境的不確定性。面對繁忙的交通、惡劣的天氣,以及突如其來的訂單取消,這些挑戰讓工作變得更加艱難。長時間的奔波和高壓的時間限制,常常讓人感到疲憊。但每當看到客戶滿意的微笑,這些辛苦的付出便化為了值得的回報。這份工作不僅考驗耐心和毅力，外送員該如何如何在困難中尋找成就感。
            </p>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
