<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>募資平台條款說明</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container pt-40 pb-30">
      <h1 class="text-center">募資平台條款說明</h1>



    </div>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
