<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/title-logo'); -%>
    <title>募資平台條款說明</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container pt-20 pt-xl-40 pb-10 pb-md-15 pb-xl-30 text-center">
      <h1 class="text-center mb-5 mb-sm-8 mb-md-10">募資平台條款說明</h1>
      <div class="row justify-content-center mb-5 mb-sm-8 mb-md-10 text-start">
        <div class="col-12 col-md-10">
          <div class="p-5 p-sm-8 p-md-10 border">
            <h2>一、服務介紹</h2>
            <p class="mb-0">歡迎使用影巢募資平台,我們致力於為創業者和支持者提供一個安全、透明的募資平台。</p>
            <p>通過我們的平台,創業者可以展示他們的項目並尋求資金支持,而支持者則能夠探索和投資於他們感興趣的項目。</p>

            <h2>二、註冊與帳戶管理</h2>
            <p class="mb-0">註冊要求:用戶需年滿18歲並擁有有效的電子郵件地址進行註冊。</p>
            <p>帳戶安全:用戶應妥善保管自己的帳戶資訊和密碼,對於帳戶內發生的所有活動負責。</p>

            <h2>三、募資項目</h2>
            <p class="mb-0">項目提交:創業者需要提供詳細的項目描述,包括但不限於項目目標、預算需求、計劃進度等。</p>
            <p class="mb-0">內容審核:所有提交的項目將經過我們的審核流程,以確保其真實性和合法性。</p>
            <p>募資目標:每個項目必須設定具體的募資目標金額,並在指定時間內達成。</p>

            <h2>四、資金處理</h2>
            <p class="mb-0">資金撥付:成功達成募資目標的項目,資金將按照預定的撥付計劃發放給創業者。</p>
            <p>退款政策:如項目未能達成募資目標,所有支持者的資金將全額退還至其原支付方式。</p>

            <h2>五、用戶責任</h2>
            <p class="mb-0">誠實性:創業者需提供真實準確的項目信息,不得虛假宣傳或誤導支持者。</p>
            <p>合規性:所有募資活動必須符合相關法律法規,禁止非法用途。</p>

            <h2>六、隱私與數據保護</h2>
            <p>我們致力於保護用戶的個人資訊。所有數據將依照我們的隱私政策進行處理,不會未經授權向第三方披露。</p>

            <h2>七、服務條款的變更</h2>
            <p>我們保留隨時更新或修改條款的權利,變更將在平台上公告。用戶應定期查閱條款以了解最新規定。</p>

            <h2>八、聯繫方式</h2>
            <p>如有任何疑問或需進一步協助,請聯繫我們的客服團隊:[客服郵箱],[客服電話]。</p>
          </div>
        </div>
      </div>
      <a href="createProposal.html" class="btn btn-white text-primary-1000 fw-bolder py-3 px-5 w-100 w-md-auto">前往提案</a>
    </div>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
